* {
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
}

/*/////////////////// Header ///////////////// */
.header {
    width: 100%;
    height: 70px;
    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .nav__menu {
    width: 65%;
    height: 50px;

    display: flex;
    justify-content: space-around;
}
.header .nav__menu .nav__menu__el {
    min-width: 60px;
    height: 20px;
    background-color: white;

    text-align: center;
    color: black;
    font-size: 16px;

    margin-top: 13px;

    cursor: pointer;
    z-index: 1;

    white-space: nowrap;
}

.slide__nav__menu__el {
    width: 150px;
    height: 280px;
    background-color: white;

    text-align: center;
    color: black;
    font-size: 16px;

    transition: 0.5s;
    margin-top: 13px;

    cursor: pointer;
    z-index: 1;

    white-space: nowrap;
}

.nav__menu__el__list {
    display: none;
}
.header .nav__menu .nav__menu__el .nav__menu__el__list a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.header .nav__menu .nav__menu__el .nav__menu__el__list a:hover {
    color: red;
    text-decoration: underline;
}
.header .nav__menu .nav__menu__el .nav__menu__el__list p {
    margin-top: 15px;
}

.header .nav__menu .fa-angle-down {
    font-size: 14px;
    margin-left: 5px;
}
.header .logo__img {
    width: 110px;
    height: 50px;
}
.header .icons__box {
    width: 60px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .fa-magnifying-glass, .fa-bag-shopping {
    font-size: 20px;
    cursor: pointer;
}

.fa-magnifying-glass:hover {
    color: gray;
}
.fa-bag-shopping:hover {
    color: gray;
}

/*/////////////////// Section ///////////////// */
.section {
    width: 100%;
    height: 500px;

    display: flex;
    overflow-x: auto;

    position: relative;
    scroll-behavior: smooth;

    z-index: 0;
}
.section::-webkit-scrollbar {
    display: none;
}

.section .photo {
    min-width: 100%;
    height: 100%;
}

/*/////////////////// Button Container ///////////////// */
.button__container {
    width: 100px;
    height: 30px;

    position: fixed;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button__container .button__link {
    width: 15px;
    height: 15px;
    background-color: black;

    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.change__button__color {
    width: 15px;
    height: 15px;
    background-color: red;

    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}


/*/////////////////// Section2 ///////////////// */
.section2 {
    width: 100%;
    height: 230px;
    background-color: white;
}
.section2 .line1, .line2 {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section2 .line1 div, .section2 .line2 div {
    width: 380px;
    height: 50px;

    margin-top: 50px;
}
.line1 div b, .line2 div b {
    margin-left: 5px;
}
.section2 h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}
footer .icons__box {
    width: 120px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-brands {
    font-size: 30px;
    cursor: pointer;
}
.fa-facebook {
    color: blue;
}
.fa-instagram {
    color: red;
}
.fa-youtube {
    color: red;
}
